.navbar{
    min-height: 9.5em;
}
.navbar-brand {
    font-size: 2em;
}
.navbar-default {
    background-color:  #222222e0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFE200;
}
.navbar-form {
    margin-left: 32em;
    margin-top: -10.5em;
}
.navbar-nav > li > a {
    padding: 2em;
}
.navbar-brand img {
    width: 200px;
    height: 40px;
}
/*.form-control {*/
    /*border-radius: 20px;*/
/*}*/
.navbar-form .form-control:hover {
    padding: 10px 3em;
}
.navbar-collapse  {
    background-color:  #121212;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #FFE200;
    border-color: #ffffff;
}